
footer{
    margin: auto;
    background: #222831;
    color: white;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto;
    padding-left: 40px; */
    flex-wrap:wrap;
    flex-direction: row;
}
.social-img{
    width: 35px;
    
}

.social-img, :last-child
{
    height: 30px;
}

.footer-item{
    align-items: center;
    width: 30%;
    height: 10px;
    padding-bottom: 40px;
    padding-left: 40px;
}
.big-item{
    flex-grow:2;
}

footer, :first-child{
    padding-left: 10px;
}
.footer-item, :first-child{
    padding-left: 20px;
}

.text-bar{
    width: 500px;
    color:red;
}
